<div class="bg" id="about">
  <div class="container">
    <div class="sixteen columns">
      <div class="heading">
        <span class="icon-star-3 star"></span>
        <h2>About</h2>
        <span class="icon-star-3 star"></span>
      </div>
      <p class="headline">Electro Duet - Paris</p>
    </div>
    <div class="clear"></div>

    <div class="sixteen columns">
      <img src="img/about.jpg" class="img-circle pull-right" style="height: 200px" />

      <p>
        Hello there! We are Faggy Dux, an electro duet of two young music producers, Guillaume Le Hénaff and Yoann Saunier.
        Graduating from the famous <a href="http://www.conservatoiredeparis.fr/en/accueil/">Paris Conservatoire</a> (CNSMDP), we hope you'll enjoy our work!
      </p>

      <p>
        As a music production duet, we can help you with the following:
        <ul class="about-list">
          <li>Compose, arrange, record and produce music for video ads, short films or full-length movies.</li>
          <li>Remix your music: we just need your lead vocal track to re-craft everything around.</li>
          <li>Make DJ/Live sets, mixing <em>French touch</em> music with our electro funk compositions.</li>
        </ul>

        Have a look at our <a href="#music_to_picture">video portfolio</a>, <a href="#remixes">remixes</a>, and <a href="#contact">let's get in touch</a>!
      </p>
    </div>

    <div class="clear"></div>
  </div>
</div>