<div class="bg" id="about">
  <div class="container">
    <div class="sixteen columns">
      <div class="heading">
        <img src="img/star.png" alt="" />
        <h2>About</h2>
        <img src="img/star.png" alt="" />
      </div>
      <p class="headline">An electro duet from Paris</p>
    </div>
    <div class="clear"></div>

    <div class="twelve columns">
      <h3>That's us</h3>

      <div class="four columns alpha ">
        <img src="img/about.jpg" />
      </div>
      <div class="eight columns omega">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, expedita, sed dolores mollitia quo quasi doloribus placeat aut deserunt asperiores voluptas fugit dicta laborum explicabo ratione culpa voluptate eos labore.
      </div>
    </div>

    <div class="four columns ">
      <h3>More</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptate porro architecto sunt nemo enim deserunt consectetur ut asperiores quis nam impedit id natus tenetur dolor fuga itaque! In, sequi.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>