<div class="bg" id="about">
  <div class="container">
    <div class="sixteen columns">
      <div class="heading">
        <span class="icon-star-3 star"></span>
        <h2>About</h2>
        <span class="icon-star-3 star"></span>
      </div>
      <p class="headline">An electro duet from Paris</p>
    </div>
    <div class="clear"></div>

    <div class="twelve columns">
      <h3>That's us</h3>

      <div class="four columns alpha ">
        <img src="img/about.jpg" />
      </div>
      <div class="eight columns omega">
        We are a Paris based music production duet. We :
        <ul>
          <li>- Compose, arrange, record and produce music for any type of movies, from advertisements to films.</li>
          <li>- Remixe your music : just need your lead vocal track and we re-craft everything around.</li>
          <li>- Make DJ/Live sets, mixing french touch music with our electro funk compositions.</li>
        </ul>
      </div>
    </div>

    <div class="four columns ">
      <h3>More</h3>
      <p>
        Guillaume Le Hénaff and Yoann Saunier (a.k.a. Faggy Dux), we are two music producers from the Paris Conservatory. Hope you'll enjoy our work!
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>