<div id="contact">
  <div class="bg2"></div>
  <div class="dotted-bar3">
    <a href="#intro"><span class="top2"></span></a>
  </div>

  <div class="container">
    <div class="sixteen columns">
      <h2>
        <span class="line"></span>
        <span class="icon-star-3 white star"></span>
        Contact
        <span class="icon-star-3 white star"></span>
        <span class="line2"></span>
      </h2>
    </div> <!-- end sixteen columns -->

    <div class="eight columns">
      <div class="contact-info">
        <p>
          <img src="img/icn-email.png" />
          <a href="mailto:faggydux@gmail.com">E-mail</a>
        </p>
        <p>
          <img src="img/icn-phone.png" />
          +33 669 034 077 (Yoann)
        </p>
        <p>
          <img src="img/icn-phone.png" />
          +33 669 810 847 (Guillaume)
        </p>
      </div>
    </div>

    <div class="eight columns">
      <iframe width="460" height="280" class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?q=26+rue+de+la+villette+Paris&amp;iwloc=near&amp;ie=UTF8&amp;hq=&amp;hnear=26+Rue+de+la+Villette,+75019+Paris,+%C3%8Ele-de-France&amp;gl=fr&amp;ll=48.875948,2.387513&amp;spn=0.067971,0.154324&amp;t=m&amp;z=11&amp;output=embed"></iframe>
    </div>
  </div>
</div>