<div class="bg" id="music_to_picture" >
  <div class="container">
    <div class="sixteen columns">
      <div class="heading">
        <span class="icon-star-3 star"></span>
        <h2>Music to Picture</h2>
        <span class="icon-star-3 star"></span>
      </div>
      <p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>

  <div class="portfolio">
    {% for video in site.categories.video %}
    <div class="container">
      <div class="two-thirds column">
        <div class="embed-container">
          <iframe src="//www.youtube.com/embed/{{ video.youtube_id }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="one-third column">
        <p class="proj-name">
          <a href="http://www.youtube.com/watch?v={{ video.youtube_id }}" target="_blank">{{ video.name }}</a>
        </p>
        <div class="proj-desc">{{ video.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>