<div class="bg" id="remixes" >
  <div class="container">
    <div class="sixteen columns">
      <div class="heading">
        <span class="icon-star-3 star"></span>
        <h2>Remixes</h2>
        <span class="icon-star-3 star"></span>
      </div>
      <p class="headline">It’s not where you take things from, it’s where you take them to</p>
    </div>
  </div>

  <div class="portfolio">

    <!-- Porky include for Celine Dion -->
    <div class="container portfolio-element">
      <div class="six columns">
        <div style="width: 100%; overflow: hidden">
          <div style="margin-top: -147px">
            <iframe width="100%" height="300" src="https://embed.indabamusic.com/p?p=https://lydian.indabamusic.com/submissions/db85b330-46ee-11e3-ba57-12313b0c64cc/playlist" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
      <div class="ten columns">
        <p class="proj-name">
          <a href="http://play.beatport.com/contests/busy-p-this-song/5249937bb8ed7405fed8f1ae">
            Celine Dion - Love me back to life (Faggy Dux Remix)
          </a>
        </p>
        <div class="proj-desc">
          <p>
            TODO
          </p>
        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Porky include for Beatport -->
    <div class="container portfolio-element">
      <div class="six columns">
        <a href="http://play.beatport.com/contests/busy-p-this-song/5249937bb8ed7405fed8f1ae">
          <img src="img/beatport.png" />
        </a>
      </div>
      <div class="ten columns">
        <p class="proj-name">
          <a href="http://play.beatport.com/contests/busy-p-this-song/5249937bb8ed7405fed8f1ae">
            Busy P - This Song (Faggy Dux Remix)
          </a>
        </p>
        <div class="proj-desc">
          <p>
            We've just submitted our new remix of Busy P - "This Song". Votes are closed, we're waiting for the results!
          </p>
        </div>
      </div>
    </div>
    <!-- End porky -->

    {% for remix in site.categories.remix %}
    <div class="container portfolio-element">
      <div class="six columns">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{ remix.soundcloud_id }}&amp;show_artwork=false&amp;color=FFA640"></iframe>
      </div>
      <div class="ten columns">
        <p class="proj-name">
          {{ remix.name }}
        </p>
        <div class="proj-desc">{{ remix.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>