<div class="title">
  <h1>Faggy Dux</h1>
  <h1 class="smallh1">Electro Duet</h1>
  <h1 class="smallerh1">Remixes & Music to Picture</h1>

  <div class="social">
    <ul>
      <li>
        <a href="http://facebook.com/faggydux" title="Facebook">
          <span class="icon-facebook"></span>
        </a>
      </li>
      <li>
        <a href="http://soundcloud.com/faggydux" title="Soundcloud">
          <span class="icon-soundcloud"></span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCuLdY6sawqMkYkvuaYahPRg" class="smaller" title="Youtube">
          <span class="icon-youtube"></span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/faggydux" class="smaller" title="Twitter">
          <span class="icon-twitter"></span>
        </a>
      </li>
    </ul>
  </div>
</div>